<li>
  <form class="hide" id="create-form" action="/addtoDB" method="post">
    <fieldset>
      <input type="text" name="title" value="<%= item.title%>" placeholder="<%= item.title%>" readonly/>
      <input type="text" name="author" value="<%= item.author%>" placeholder="<%= item.author%>" readonly/>
      <input type="text" name="isbn" value="<%= item.isbn%>" placeholder="<%= item.isbn%>" readonly/>
      <input type="text" name="image_url" value="<%= item.image_url%>" placeholder="<%= item.image_url%>" readonly>
      <textarea name="description" value="<%= item.description%>" cols="30" rows="10" readonly><%- item.description %></textarea>
      <input type="text" name="bookshelf" placeholder="bookshelf">
      <button type="submit">Add to database</button>
    </fieldset>
  </form>
</li>
