<section>
  <image class="image" src=<%= item.image_url %>></div>
  <div class="title"><%= item.title %></div>
  <div class="author"><%= item.author %></div>
  <div class="description"><%= item.description %></div>
  <div class="isbn"><%=item.isbn%></div>
  <div class="bookshelf">Bookshelf: <%=item.bookshelf%></div>
  
</section>