<% searchesResults.forEach(item => { %>
  <li>
    <image class="image" src=<%= item.image_url %>></div>
    <div class="title"><%= item.title %></div>
    <div class="author"><%= item.author %></div>
    <div class="description"><%= item.description %></div>
    <form class="hide" id="create-form" action="/add" method="post">
      <fieldset>
        <input type="hidden" name="title" value="<%= item.title%>"/>
        <input type="hidden" name="author" value="<%= item.author%>"/>
        <input type="hidden" name="description" value="<%= item.description%>"/>
        <input type="hidden" name="image_url" value="<%= item.image_url%>"/>
        <input type="hidden" name="isbn" value="<%= item.isbn%>"/>
        <button type="submit">Select this book</button>
      </fieldset>
    </form>
  </li>
<% }) %>